.button {
  border: none;
  transition: all 0.3s;

  &:hover {
    filter: brightness(0.9);
  }

  &__xs {
    padding: rem(0px) rem(10px);
    border-radius: rem(2px);
  }

  &__sm {
    padding: rem(0px) rem(20px);
    border-radius: rem(4px);
  }

  &__base {
    padding: rem(6px) rem(12px);
    border-radius: rem(6px);
  }

  &__md {
    padding: rem(9px) rem(18px);
    border-radius: rem(8px);
  }

  &__lg {
    padding: rem(12px) rem(24px);
    border-radius: rem(12px);
  }

  &__rounded {
    &__sm {
      border-radius: rem(4px);
    }

    &__base {
      border-radius: rem(6px);
    }

    &__md {
      border-radius: rem(8px);
    }

    &__lg {
      border-radius: rem(12px);
    }

    &__none {
      border-radius: 0;
    }

    &__full {
      border-radius: 9999px;
    }

    &__circle {
      border-radius: 50%;
    }

    &__square {
      border-radius: 0;
    }
  }

  &__contained {
    color: var(--color-white) !important;

    &__primary {
      background-color: var(--color-primary);
    }

    &__secondary {
      background-color: var(--color-secondary);
    }

    &__danger {
      background-color: var(--color-danger);
    }

    &__success {
      background-color: var(--color-success);
    }

    &__warning {
      background-color: var(--color-warning);
    }

    &__info {
      background-color: var(--color-info);
    }

    &__dark {
      background-color: var(--color-dark);
    }

    &__light {
      background-color: var(--color-light);
      color: var(--color-dark) !important;
    }
  }

  &__outlined {
    &__primary {
      border: rem(1px) solid var(--color-primary);
    }

    &__secondary {
      border: rem(1px) solid var(--color-secondary);
    }

    &__danger {
      border: rem(1px) solid var(--color-danger);
    }

    &__success {
      border: rem(1px) solid var(--color-success);
    }

    &__warning {
      border: rem(1px) solid var(--color-warning);
    }

    &__info {
      border: rem(1px) solid var(--color-info);
    }

    &__dark {
      border: rem(1px) solid var(--color-dark);
    }

    &__light {
      border: rem(1px) solid var(--color-light);
      color: var(--color-light) !important;
    }
  }

  &__text {
    padding: 0;
  }

  &__link {
    padding: 0;

    &__primary {
      color: var(--color-primary) !important;
    }

    &__secondary {
      color: var(--color-secondary) !important;
    }

    &__danger {
      color: var(--color-danger) !important;
    }

    &__success {
      color: var(--color-success) !important;
    }

    &__warning {
      color: var(--color-warning) !important;
    }

    &__info {
      color: var(--color-info) !important;
    }

    &__dark {
      color: var(--color-dark) !important;
    }

    &__light {
      color: var(--color-light) !important;
    }
  }

  &__tertiary {
    background-color: transparent;
    border: none;
  }

  &__icon {
    padding: 0;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--fs-base);
    height: var(--fs-base);
  }

  &__disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.text {
  @include text;
}
