:root {
  // Font size
  --fs-10xl: 8.4rem;
  --fs-6xl: 7.2rem;
  --fs-4xl: 6rem;
  --fs-3xl: 4.8rem;
  --fs-2xl: 3.6rem;
  --fs-xl: 3rem;
  --fs-lg: 2.4rem;
  --fs-md: 1.8rem;
  --fs-base: 1.2rem;
  --fs-sm: 1rem;
  --fs-xs: 0.8rem;

  // Font weight
  --fw-extra-bold: 900;
  --fw-bold: 700;
  --fw-md: 500;
  --fw-base: 400;
  --fw-thin: 300;

  // Color
  --color-white: #ffffff;
  --color-light: #f5f7fa;
  --color-gray: #d0d5dd;
  --color-black: #1a1a1a;
  --color-dark: #282d31;
  --color-dark-gray: #2d2d2d;
  --color-dark-blue: #101828;
  --color-primary: #2196f3;
  --color-secondary: #0277bd;
  --color-danger: #f84141;
  --color-success: #32d583;
  --color-warning: #ffd25e;
  --color-info: #5d94ff;

  --color-shade-t1: #2196f3;
  --color-shade-t2: #1e88e5;
  --color-shade-t3: #0288d1;
  --color-shade-t4: #0277bd;
  --color-shade-t5: #01579b;

  --color-tint-t1: #29b6f6;
  --color-tint-t2: #4fc3f7;
  --color-tint-t3: #81d4fa;
  --color-tint-t4: #b3e5fc;
  --color-tint-t5: #e1f5fe;

  --border-input: #d1d1d1;

  --outer-shadow: -5px -5px 5px #fafbff, 5px 5px 5px #161b1d3b;
}
