.gap {
  width: 100%;

  &__sm {
    height: rem(8px);
  }

  &__base {
    height: rem(16px);
  }

  &__md {
    height: rem(20px);
  }

  &__lg {
    height: rem(30px);
  }

  &__xl {
    height: rem(40px);
  }

  &__2xl {
    height: rem(80px);
  }
}
